@import 'tailwindcss/base';

/* TODO: Figure out why some of these stles don't work when separated into general.css
    and what the deal with the @layer is — some styles work with, some without
*/

/* @import url(general.css); */

/* Font import */
@import url(fonts.css);
/* Mapbox custom styling */

@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  /* CSS Variables for stupid things that do not want to be tailwinded */
  :root {
    --black: #1e1e1e; /* Granite */
    --green: #12d9b5; /* Glacier Green */
    --blue: #0dbbf2; /* Norwegian crisp */
    --blue-dark: #003f65; /* Midnight blue */
    --grey: #c6c6c6; /* Cloudy grey */
    --grey-light: #efefef; /* Mist */
  }

  body {
    @apply r-text-sm leading-snug text-black;
  }

  /* Responsive borders */
  .r-border {
    @apply lg:border-3 border-2;
  }
  .r-border-t {
    @apply lg:border-t-3 border-t-2;
  }
  .r-border-r {
    @apply lg:border-r-3 border-r-2;
  }
  .r-border-b {
    @apply lg:border-b-3 border-b-2;
  }
  .r-border-l {
    @apply lg:border-l-3 border-l-2;
  }

  /* Link focus styles */
  a,
  button {
    @apply focus-visible:outline-green-dotted-2
      lg:focus-visible:outline-green-dotted-3 focus-visible:shadow-outline-solid-blue-dark-2
      lg:focus-visible:shadow-outline-solid-blue-dark-3 focus:outline-none;
  }
  /* Apply link styles to regular inline <a> tags in paragraphs, but not to <a> tags that are styled like a button (with .group) */
  p a:not(.group) {
    @apply hover:text-blue-dark hover:shadow-highlight-green underline;
  }
  .js-focus-visible :focus:not(.focus-visible) {
    outline: none;
    box-shadow: none;
  }
  .js-focus-visible,
  .focus-visible,
  [data-js-focus-visible] {
    @apply focus-visible:outline-green-dotted-2
      lg:focus-visible:outline-green-dotted-3 focus-visible:shadow-outline-solid-blue-dark-2
      lg:focus-visible:shadow-outline-solid-blue-dark-3 focus:outline-none;
  }

  /* Move this into tailwind config? */
  ::selection {
    background: #1e1e1e; /* Black */
    color: #12d9b5; /* Green */
  }

  /* Hide "Watch on Youtube" link on video */
  .ytp-impression-link,
  .ytp-impression-link-content {
    display: none !important;
  }

  /* This is a custom hack to display product previews in the correct columns on the category page / activities */
  /* https://css-tricks.com/almanac/selectors/n/nth-child/ reference. Needed to select every 3rd element starting with #2 */
  .nth-child-custom-hack:nth-child(3n - 1) {
    grid-column-start: 4;
  }

  /*
    Override select styling, even out cross browser including windows
    Make sure text is black on white background
  */
  option {
    color: var(--black);
    background-color: var(--white);
  }
}

@layer component {
}

@layer utility {
  /* For styling details and summary elements */
  details[open] summary.open-border-dashed {
    @apply !border-dashed;
  }

  details[open] summary > .summary-icon {
    transform: rotate(180deg);
  }
}
